*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.gamNam{
    margin-top: 10px;
    color: #273F4F;
    animation: GameHead 1.5s ease-in-out infinite alternate;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
}
body{
    background-color: #FE7743;
}
.main{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}
.container{
    height: 70vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #273F4F;
    margin-top: 20px;
}
.game{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center;
}
@keyframes GameHead{
     0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}
.box{
    height:22vh;
    width: 15vw;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 15vmin;
    background-color: #D7D7D7;
    color: #447D9B;
}
.rst{
    height: 3rem;
    width: 5rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    background-color: #273F4F;
    color: #D7D7D7;
    margin-top: 20px;
}
.wiNam{
    margin-top:15px;
    color: #273F4F;
}
.clickme{
    height: 3rem;
    width: 20rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    background-color: #273F4F;
    border-radius: 3rem;
    border: none;
}

/* making responsible */

@media (max-width:500px){
    .container{
        width: 100%;
        height:400px;
        margin-top: 2rem;
    }
    .box{
        height: 100px;
        width: 31%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main{
        height: 450px;
        width: 100%;
    }
    .gamNam{
        margin-top: 7rem;
        font-size: 20px;
    }
    .rst{
        margin-top: 3rem;
    }
}